<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Hello' %> | Susana</title>
  <meta charset="UTF-8">
  <link href="/images/favicon.png" rel="shortcut icon">
  <%= style_tag 'bundle.css' %>
</head>
<body>
  <section class="top">
    <div class="logo">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    <nav>
      <% if current_user %>
        <span class="info"><%= current_user.email %></span>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
      <% end %>
    </nav>
  </section>
  <main>
    <% [:info, :error].each do |key| %>
      <% if f[key] %><div class="flash flash-<%= key %>" onclick="this.remove()"><%= f[key] %></div><% end %>
    <% end %>
    <%= yield %>
  </main>
  <%= script_tag 'bundle.js' %>
</body>
</html>
