<% @title = 'Settings' %>

<section class="settings">
  <h3>Settings</h3>
  <form action="/update" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <p>
      <label>
        Email
        <br>
        <input type="text" name="email" value="<%= @user.email %>">
      </label>
      <%= r(@user, :email) %>
    </p>
    <p>
      <button>Save</button>
    </p>
  </form>

  <br>

  <h3>Password</h3>
  <form action="/password" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <p>
      <label>
        Current Password
        <br>
        <input type="password" name="current_password">
      </label>
      <%= r(@user, :current_password) %>
    </p>
    <p>
      <label>
        New Password
        <br>
        <input type="password" name="password">
      </label>
      <%= r(@user, :password) %>
    </p>
    <p>
      <label>
        Confirm
        <br>
        <input type="password" name="confirm">
      </label>
      <%= r(@user, :confirm) %>
    </p>
    <p>
      <button>Save</button>
    </p>
  </form>
</section>
