<h1>Hello</h1>
<p>Params: <%= p %></p>
<p>Date: <%= l(Time.now) %></p>
<p>Locale: <%= t(:hello) %> (<%= I18n.locale %>)</p>
<p>Session: <%= s[:user] %></p>
<p>Cookies: <%= c[:user] %></p>
<p><%= env.dup %></p>
